<h1> <%= @user.username %>'s Home Page</h1>

<ul>
  <% current_user.goals.each do |goal| %>
    <li>
      <%= goal.body %>
      <a href="<%= edit_goal_url(goal) %>">Edit Goal</a>
      <form action="<%= goal_url(goal) %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="delete">
        <button>Delete Goal</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="<%= new_goal_url %>">Create New Goal</a>
