<h1>Goals</h1>

<%= @goal.body %>

<% @goal.comments.each do |comment| %>
  <%= comment.user.usernam %>: <%= comment.text %>
<% end %>

<form action="<%=comments_url%>" method="post">
  <%= auth_token %>
  <textarea name="comment[text]"></textarea>
</form>
